.header {
    font-family: 'Inter', Arial, sans-serif;
    color: #fff;
    border-bottom: 1px solid #545454;
    opacity: .7;
}

@media screen  and (max-width: 879px){
    .header {
        padding-left: 27px;
    }
}