.header {
    font-family: 'Inter', Arial, sans-serif;
    color: #fff;
    height: 74px;
}

@media screen  and (max-width: 879px){
    .header {
        height: 56px;
        padding-left: 27px;
    }
}