.button_form_close-btn {
    background-image: url("../../../images/close Icon.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #000;
    width: 40px;
    height: 40px;
    position: absolute;
    right: -40px;
    top: -40px;
    cursor: pointer;
    border: none;
}

.button_form_close-btn:hover {
    cursor: pointer;
    opacity: .6;
    -webkit-transition: linear, .8s;
    -o-transition: linear, .8s;
    transition: linear, .8s;
}

@media screen and (max-width: 767px){
    .button_form_close-btn {
        width: 26px;
        height: 26px;
        right: 5px;
        top: -50px;
    }
}