.profile-info__btn_form_add-btn {
    width: 150px;
    height: 50px;
    background: black url("../../../../images/add-button.svg") no-repeat center center;
    border: 2px solid white;
    border-radius: 2px;
}

.profile-info__btn_form_add-btn:hover {
    opacity: .6;
    -webkit-transition: linear, .5s;
    -o-transition: linear, .5s;
    transition: linear, .5s;
}

@media screen and (max-width: 767px){
    .profile-info__btn_form_add-btn {
        width: 282px;
        height: 50px;
    }
}