.profile-info__text_type_job {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    margin-top: 16px;
}

@media screen and (max-width: 767px){
    .profile-info__text_type_job {
        margin: 14px 0 36px;
        font-size: 14px;
        line-height: 17px;
    }
}